@use '../../../../../styles/index' as *;

.wrap {
  display: flex;
  padding: $BASE_UNIT;
  margin-top: $BASE_UNIT*2;
}

.title {
  @include LOGO_TITLE;
  color: $NEUTRAL_BLACK_COLOR;
  text-transform: uppercase;
}

@media (max-width: $TABLET_SIZE_THRESHOLD) {
  .title {
    @include LOGO_TITLE_SMALL;
  }
}

@media (max-width: $MOBILE_SIZE_THRESHOLD) {
  .title {
    @include LOGO_TITLE_XSMALL;
  }
}