$BASE_UNIT: 8px;
$CONTENT_MAX_WIDTH: $BASE_UNIT * 180;
$HOLDING_PAGE_MAX_WIDTH: $BASE_UNIT * 120;

//BORDERS
$L_BORDER_RADIUS: 32px;
$M_BORDER_RADIUS: 16px;
$S_BORDER_RADIUS: 8px;
$XS_BORDER_RADIUS: 6px;
$XXS_BORDER_RADIUS: 4px;

// THRESHOLD BETWEEN SIZE CLASSES
$CLAMP_THRESHOLD: clamp(200px, 90%, 1100px); // To be changed
$S_MOBILE_SIZE_THRESHOLD: 350px;
$MOBILE_SIZE_THRESHOLD: 440px;
$TABLET_SIZE_THRESHOLD: 680px;
$L_TABLET_SIZE_THRESHOLD: 860px;
$XL_TABLET_SIZE_THRESHOLD: 1024px;
$DESKTOP_SIZE_THRESHOLD: 1280px;
$M_DESKTOP_SIZE_THRESHOLD: 1440px;
$L_DESKTOP_SIZE_THRESHOLD: 1680px;
$XL_DESKTOP_SIZE_THRESHOLD: 1950px;

// HEIGHT THRESHOLDS
$M_SIZE_HEIGHT_THRESHOLD: 974px;

// MISC
$HEADER_HEIGHT: $BASE_UNIT*5;