// FONT FAMILIES
$FONT_FAMILY: 'Merriweather';

// COLORS
$PRIMARY_DEFAULT_COLOR: #5E9463;
$PRIMARY_HOVERED_COLOR: #5D775C;
$PRIMARY_SELECTED_COLOR: #4C5B4D;
$PRIMARY_TRANSPARENT_COLOR: #5E94633D;

$OTHER_PROGRESS_COLOR: #F4D096;
$OTHER_SUCCESS_COLOR: #72A771;
$OTHER_ALERT_COLOR: #D32F2F;

$NEUTRAL_1_COLOR: #F7F7F7;
$NEUTRAL_2_COLOR: #EEEEEE;
$NEUTRAL_3_COLOR: #E2E2E2;
$NEUTRAL_4_COLOR: #A6A6A6;
$NEUTRAL_5_COLOR: #616161;
$NEUTRAL_WHITE_COLOR: #FFFFFF;
$NEUTRAL_BLACK_COLOR: #292929;
$NEUTRAL_MENU_OPACITY_COLOR: #FFFFFF 88%;

$VERY_BAD_COLOR: #8B0000;
$POOR_COLOR: #FF4500;
$AVERAGE_COLOR: #FFBF00;
$GOOD_COLOR: #90EE90;
$EXCELLENT_COLOR: #00FF00;
$PERFECT_COLOR: #4169E1;


$SEPARATION_LINE: linear-gradient(90deg, rgba(224, 225, 226, 0.00) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.16) 99.04%);
$GRADIENT_BACKGROUND: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 51.56%);
$POPUP_BACKGROUND: rgba(217, 217, 217, 0.24);
$BOX_SHADOW: 0px 5px 5px 0px #ADADAD4F;
$BOX_SHADOW_TOP: 1px -1px 5px rgba(139, 139, 139, 0.24);
$MENU_BACKGROUND: rgba(255, 255, 255, 0.32);
// FONTS
$XXL_FONT_SIZE: 30px;
$XL_FONT_SIZE: 22px;
$L_FONT_SIZE: 18px;
$M_FONT_SIZE: 16px;
$S_FONT_SIZE: 14px;