@use '../../../../../styles/index' as *;

.wrap {
  @include flexRow;
  @include spaceBetween;
  padding: $BASE_UNIT;
  width: $BASE_UNIT*45;
}

.link {
  @include MEDIUM_HEADING_4;
  color: $NEUTRAL_BLACK_COLOR;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: $BASE_UNIT;
  }
}

@media (max-width: $MOBILE_SIZE_THRESHOLD) {
  .link {
    @include MEDIUM_HEADING_5;
  }
  .wrap {
    width: $BASE_UNIT*38;
  }
}